/* Anduin Design */

body { background: white; }

/* Until we have proper responsive */

body { min-width: 900px; }

.ad-font-sans { font-family: "lato", sans-serif }
.ad-font-mono { font-family: "source-code-pro", monospace }

@media (min-width: 744px) {
  .ad-from744\:px-48 { padding-left: 48px; padding-right: 48px; }
  .ad-from744\:absolute { position: absolute; }
}

@media (min-width: 1100px) {
  .ad-from1100\:hidden { display: none; }
  .ad-from1100\:block { display: block; }
}

@media (min-width: 1300px) {
  .ad-from1300\:hidden { display: none; }
  .ad-from1300\:block { display: block; }
}

::-webkit-scrollbar { width: 12px; height: 12px; background: var(--color-gray-2); }
::-webkit-scrollbar-thumb { background: var(--color-gray-4); }
::-webkit-scrollbar-thumb:active { background: var(--color-gray-5); }

/* Highlight.js syntax */
.hljs { color: var(--color-gray-8) }
.hljs-comment { color: var(--color-gray-5) }
.hljs-keyword { color: var(--color-danger-5) }
.hljs-type, .hljs-title { color: var(--color-primary-5) }
.hljs-string { color: var(--color-warning-5) }
.hljs-subst { color: var(--color-warning-4) }
.hljs-number, .hljs-literal { color: var(--color-success-5) }
.hljs-emphasis { font-style: italic }
.hljs-strong { font-weight: bold }